.content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    color: white;
}

td {
    width: 200px;
}

.error-label {
    color: red !important;
}

html, body {
    background-image: url('../img/auth-background.jpg');
    background-size: cover;
}

.card {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: white;
}